[MASTER]
extension-pkg-whitelist=pygame

[MESSAGES CONTROL]
disable=import-error,
        too-many-instance-attributes,
        too-many-locals,
        too-many-branches,
        too-many-return-statements,
        too-many-nested-blocks,
        too-few-public-methods,
        invalid-name,
        multiple-statements

[FORMAT]
max-line-length=120
