[MASTER]
source-roots = .
extension-pkg-whitelist=pygame

[MESSAGES CONTROL]
disable=import-error,
        too-many-instance-attributes,
        invalid-name,
        multiple-statements,
        too-many-locals,
        too-many-nested-blocks,
        too-many-branches,
        too-few-public-methods

[FORMAT]
max-line-length=120

[design]
# Maximum number of arguments for functions/methods.
max-args=5

# Maximum number of statements in a function/method.
max-statements=65

# Maximum number of local variables in a function/method.
max-locals=20

# Maximum number of return statements in a function/method.
max-returns=8

# Maximum number of branches in a function/method.
max-branches=25

# Maximum number of nested blocks in a function/method.
max-nested-blocks=6

# Maximum number of public methods in a class.
max-public-methods=20

# Maximum number of attributes in a class.
max-attributes=25

# Minimum number of public methods in a class.
min-public-methods=1

[REPORTS]
# Disable the generation of reports.
reports=no

[TYPECHECK]
generated-members=pygame.*